.DS_Store
.ftpquota

var/*/*
!var/themes_repository*
!var/themes_repository/*
!var/*/.htaccess
!var/*/index.php
!var/langs*
!var/langs/*
!var/layouts*
!var/addons*
!var/addons/*

images/*

error_log

config.local.php

.user.ini
.well-known/
cgi-bin/

local_conf.php

php.ini

/*-feed.xml